@media (max-width: 650px)
{
    .menu2 {
        text-align: center;
        /*padding-left: 50px;
        padding-top: 50px;*/
        /*border: 1px solid #bbb;*/
        padding: .5rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: .5rem;
    }

    .menu1 {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px solid #bbb;
        padding-bottom: 1rem;
    }

    .menu1 a{
        padding-left: 25px;
        padding-right: 25px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        border-radius: 10px;
        border-color: #002570;
    }
    
    
    .course {
        grid-row: 1/2;
        grid-column: 1/2;
    }
      
    .city {
        grid-row: 2/3;
        grid-column: 1/2;
    }
      
    .certificate {
        grid-row: 3/4;
    }

    /*------------------------------------------*/

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .topnav{
        display: block;
    }
       
}
