@media (max-width: 500px)
{
    .menu2 {
        text-align: center;
        /*padding-left: 50px;
        padding-top: 50px;*/
        /*border: 1px solid #bbb;*/
        padding: .5rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: .5rem;
    }

    .menu1 {
        text-align: center;
        /*padding-left: 25px;*/
        border-bottom: 1px solid #bbb;
        padding-bottom: 1rem;
    }

    .menu1 a{
        /*text-align: center;*/
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid #bbb;
        background-color: black;
        color: white;
        border-radius: 5px;
        font-size: medium;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        border-radius: 10px;
        border-color: #002570;
    }
    
    
    .course {
        grid-row: 1/2;
        grid-column: 1/2;
    }
      
    .city {
        grid-row: 2/3;
        grid-column: 1/2;
    }
      
    .certificate {
        grid-row: 3/4;
    }
    
   

      
}